body {
    background-color: #cfbad3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}
.avatar {
    width: 300px;
}

.header__title {
    font-size: 28px;
}

.header__subtitle {
    color: rgb(45, 133, 177);
}

main {
    border: 1px solid darkgray;
    text-align: center;
}

.skills ol{
    list-style: none;
}

.separator {
    width: 40%;
    height: 3px;
    background-color: #6da8e7;
}

.hobbies__list{
    list-style: none;
}

.ed__table{
    border-collapse: collapse;
    width: 100%;
}

.ed__table th,
.ed__table td{
    border: 1px solid black;
    padding: 10px;
}

.put{
    width: 500px;
}

.form{
    width: 600px;
    margin: 0 auto;
}
.form input{
    width: 100%;
}

footer{
    text-align: center;
    background-color: #bed5de;
    height: 100px;
}

.contact{
    text-decoration: none;
    color: #000;
}